@media screen and (max-width: 1100px) {
    #container {
        display: none;
    }
    #mobile {
        display: block;
    }
}
@media screen and (min-width: 1100px) {
    #container {
        display: block;
    }
    #mobile {
        display: none;
    }
}

#mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 0 40px;
    text-align: center;
}

body {
    background: url(./wood.webp) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    font-family: 'Gille Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}
a:visited {
    color: #fff;
    text-decoration: none;
}

.github {
    margin: 0 0 0 30px;
    padding: 15px 20px;
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    background-color: black;
    border-radius: 10px;
    width: 1150px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.8);
}

/* screen part */
.mix {
    display: flex;
        justify-content: space-around;
    height: 150px;
    background-color: rgb(29, 29, 29);
}

.letters-switch {
    padding: 20px 10px 20px 10px;
    color: white;
}

.screen {
    width: 600px;
    border-radius: 8px;
    height: 70%;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.901);
    color: black;
}

.socials {
    padding: 20px 10px 20px 10px;
}

.list-social {
    list-style-type: none;
    text-align: right;
}

.list-social li {
    margin: 7px 0;
}

/* KEYBOARD */
.keyboard {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.white-key {
    position: relative;
    width: 29px;
    height: 200px;
    border: 1px solid gray;
    background-color: white;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.black-key {
    position: relative;
    right: 11px;
    width: 22px;
    height: 130px;
    background-color: rgb(0, 0, 0);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.key {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0px;
    font-size: 0.9em;
    font-weight: bold;
}

.text-white {
    color: white !important;
}

.active {
    background-color: #b3b3b3;
}
.loader {
    box-shadow: 0 0 0 99999px rgb(0 0 0 / 80%);
    margin: 300px auto;
    border: 40px solid #f3f3f3;
    border-top: 40px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}